<div class="about-main">
  <h2>mirco code shareとは...</h2>
  <p>
    500文字以内のコードの断片を投稿、共有できるサービスです。
  </p>
</div>
<hr>
<div class="about-next">
<h2>更新予定...</h2>
  <ul>
    <li>レスポンシブル対応</li>
    <li>検索機能</li>
    <li>投稿一覧のカテゴリ別表示</li>
    <li>投稿者によるコードの解説コメント欄</li>
    <li>投稿評価機能</li>
    <li>ユーザープロフィール</li>
  </ul>
</div>